<form class='space-y-6 p-4 m-7' [formGroup]="miFormulario">


    <div class='bg-white px-4 py-5 shadow sm:rounded-lg sm:p-6'>
        <div class='md:grid md:grid-cols-3 md:gap-6'>
            <div class='md:col-span-1'>
                <h3 class='text-lg font-medium leading-6 text-gray-900'>Agregar producto</h3>
                <p class='mt-1 text-sm text-gray-500'>{{texto1}}</p>
            </div>
            <div class='mt-5 md:col-span-2 md:mt-0'>
                <div class='grid grid-cols-6 gap-6'>
                    <div class='col-span-6 sm:col-span-3'>

                        <label class='block text-sm font-medium text-gray-700'>Nombre</label>
                        <input formControlName="nombre" type='text'
                            class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm'>
                        <p [mensaje]="texto1" [color]="color" error-msg [valido]="!tieneError('nombre')"></p>
                    </div>



                </div>
            </div>
        </div>
    </div>



    <div class='flex justify-end'>
        <button (click)="cambiarColor()"
            class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Cambiar color
        </button>
        <button (click)="cambiarNombre()"
            class='ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2'>
            Guardar
        </button>
    </div>

    <h5>Formulario:</h5>
    <pre>Valid: {{miFormulario.value | json}}</pre>
    <pre>Valid: {{miFormulario.valid}}</pre>

</form>